<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="sineIn.css" />
  </head>
  <body>
    <div class="container">
      <div class="login-form">
        <h2>تسجيل الدخول</h2>
        <form action="index.html" id="login">
          <input
            type="text"
            id="username"
            placeholder="اسم المستخدم"
            required
          /><br />
          <input
            type="password"
            id="password"
            placeholder="كلمة المرور"
            required
          /><br />
          <input type="submit" value="تسجيل الدخول" />
          <h3 class="sineIn">انشاء حساب <a href="sineUp.html">Sine Up</a></h3>
        </form>
      </div>
    </div>

    <script src="scripts/sineIn.js"></script>
  </body>
</html>
