<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>إنشاء حساب</title>
    <link rel="stylesheet" href="sineUp.css" />
  </head>
  <body>
    <div class="container">
      <div class="signup-form">
        <h2>إنشاء حساب</h2>
        <form action="sineIn.html" id="signup">
          <input
            type="text"
            id="username"
            placeholder="اسم المستخدم"
            required
          /><br />
          <input
            type="email"
            id="email"
            placeholder="البريد الإلكتروني"
            required
          /><br />
          <input
            type="password"
            id="password"
            placeholder="كلمة المرور"
            required
          /><br />
          <input type="submit" value="إنشاء الحساب" />
        </form>
      </div>
    </div>

    <script src="sineUp.js"></script>
  </body>
</html>
