<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>إنشاء حساب</title>
    <link rel="stylesheet" href="../register.css" />
  </head>
  <body>
    <div class="container">
      <div class="register-form">
        <h2>إنشاء حساب</h2>
<<<<<<< HEAD
        <form id="register">
          <input
=======
        <form action="sineIn.html" method="" id="signup">
        <input
>>>>>>> 920d4bd95d62337c8d9299365e046171f5ef8fe5
            type="text"
            id="username"
            name="username"
            placeholder="اسم المستخدم"
            required
          /><br />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="البريد الإلكتروني"
            required
            
          /><br />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="كلمة المرور"
            required
          /><br />
          <input type="submit" value="إنشاء الحساب" />
        </form>
      </div>
    </div>
    <script src="../scripts/register.js"></script>
  </body>
</html>
