<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
rel="icon"
type="image/png"
sizes="32x32"
href="./images/favicon-32x32.png"
/>
<link
href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
rel="stylesheet"
/>
<title>Forgot Password</title>
<link rel="stylesheet" href="forgot-password.css">
</head>
<body>
<div class="container">
  <h2>Forgot Password</h2>
  <div id="message"></div>
  <form id="forgotPasswordForm">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <input type="submit" value="Reset Password">
  </form>
</div>
<script src="forgot-password.js"></script>
</body>
</html>
